{% extends 'base.html.twig' %}
{% block title %}
English With Annie
{% endblock %}
{% block body %}



<div class="row mt-5">
	<div class="col">

		<h5 class="translate mb-3" data-lang="EN" data-trad="Hello !">Bonjour !</h5>

		<p class="translate" data-lang="EN"
			data-trad="My name is Annie, and I am your child’s English teacher at Saint Joseph. I am an American from Harpers Ferry, West Virginia. I've been living in Bry-Sur-Marne since 2015 with my partner, Thomas and my baby son, Hadrien. I have 7 years of experience teaching English to people of all ages. I am TEFL (Teaching English as a Foreign Language) certified and have a bachelors degree in liberal arts from Shepherd University in the US. I adore teaching children and would be happy to share my love of language with yours!">
			Je m'appelle Annie et je suis la professeure d'anglais de votre enfant à Saint
			Joseph. Je suis une américaine de Harpers Ferry West Virginia. J'habite à Bry-Sur-Marne depuis 2015 avec mon
			compagnon, Thomas et mon petit garçon, Hadrien. J'ai 7 ans d'expérience dans
			l'enseignement de l'anglais à des personnes de tous âges. Je suis certifié TEFL (Teaching
			English as a Foreign Language) et titulaire d'une masters en arts libéraux de l'Université
			Shepherd aux États-Unis. J'adore enseigner aux enfants et serais heureuse de partager
			mon amour des langues avec les vôtres !
		</p>



		<p class="translate" data-lang="EN"
			data-trad="I'm offering English immersion workshops in small groups (maximum 10 children per workshop) to consolidate your child’s school-year learning (week one progression) and prepare them for the year ahead (week two progression) held in the garden at my parents-in-law's home in Le Perreux Sur Marne.">
			Je vous propose des ateliers d'immersion en anglais en petits groupes (maximum 10 enfants par atelier) pour
			consolider les apprentissages de l'année scolaire de votre enfant (progression de la semaine 1) et le
			préparer pour l'année à venir (progression de la semaine 2) qui se déroulent dans le jardin de mes beaux
			parents au Perreux Sur Marne.
		</p>




		<div class="text-center mt-3">
			<img src="{{ asset('build/images/back.png') }}" alt="Harpers Ferry West Virginia" class="img-fluid" />

		</div>
		<div class="text-right" style="font-size: 11px;">
			Harpers Ferry West Virginia
		</div>

		</p>
	</div>
</div>

{% endblock %}