{% extends 'base.html.twig' %}
{% block title %}
English With Annie
{% endblock %}
{% block body %}



<div class="row mt-5">
	<div class="col">

		<h5 class="translate mb-3" data-lang="EN" data-trad="Hello !">Bonjour !</h5>

		<p class="translate" data-lang="EN"
			data-trad="My name is Annie, and I am an American expatraite from Harpers Ferry, West Virginia. I've been living in Bry-Sur-Marne since 2015 with my partner, Thomas and my son, Hadrien. I am an English teacher with 7 years of experience teaching people of all ages and levels. I have taught every class from moyenne section up through terminale, and I am currently a professor at Efrei Engineering School, where I teach scientific and technical English, as well as writing to university students. I am TEFL (Teaching English as a Foreign Language) certified and have a bachelors degree in liberal arts from Shepherd University in the US. I adore teaching and would be happy to share my love of language with you!">

			Bonjour! Je m'appelle Annie et je suis une expatriée américaine venant de Harpers Ferry, Virginie-Occidentale. J'habite à Bry-Sur-Marne depuis 2015 avec ma compagne,
			Thomas et mon fils, Hadrien. Je suis professeure d'anglais avec 7 ans d'expérience dans l'enseignement à des personnes de tous âges et de tous niveaux. J'ai enseigné toutes les classes de la moyenne section à la terminale, et je suis actuellement professeur à l'école d'ingénieurs Efrei, où j'enseigne l'anglais scientifique et technique, ainsi que l'écriture aux étudiants universitaires.
			Je suis certifié TEFL (Teaching English as a Foreign Language) et titulaire d'un baccalauréat en arts libéraux
			de l'Université Shepherd aux États-Unis. J'adore enseigner et serais heureux de partager mon amour de
			langue avec vous !
		</p>



		<p class="translate" data-lang="EN"
			data-trad="I regularly offer English immersion workshops during the school holidays, as well as private lessons and excursions. Please see the workshops page for the most up-to-date information.">
			Je propose régulièrement des ateliers d'immersion en anglais pendant les vacances scolaires, ainsi que des cours particuliers et des excursions. Veuillez consulter la page des ateliers pour les informations les plus récentes.
		</p>




		<div class="text-center mt-3 ">
			<img src="{{ asset('build/images/back.png') }}" alt="Harpers Ferry West Virginia" class="img-fluid" />

		</div>
		<div class="text-right" style="font-size: 11px;">
			Harpers Ferry West Virginia
		</div>

		</p>
	</div>
</div>

{% endblock %}