{% extends 'base.html.twig' %}
{% block title %}Le site d'annieLou le pandaLou !
{% endblock %}
{% block body %}

	

	<div class="row">
		<div class="col">
			<p>
				English immersion workshops in small groups (maximum 10 children per
				      workshop) to consolidate your child’s school-year learning (week one
				      progression) and prepare them for the year ahead (week two progression)
				      held in the fresh air of _____ park in Bry or Le Perreux Sur Marne.
			</p>
		</div>
	</div>

{% endblock %}
